@import "~vue-material/dist/theme/engine";

@include md-register-theme('default', (
    primary: md-get-palette-color(lightgreen, 400),
    accent: md-get-palette-color(red, A400),
    theme: dark
));

@import "vue-material/dist/theme/all";